<div class="container">
  <div class="header">
    <div class="title">
      <h1 class="title1">美翔</h1>
      <h1 class="title2">カンパニー</h1>
    </div>
    <div class="sub-title">
      <h2 class="Japanese-title">今日の私に自信を</h2>
      <p class="english-title">~  believe in oneself  ~</p>
    </div>
  </div>
  <div class="link">
    <ul class="icon">
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-twitter fa-3x" hovercolor="#0066ff"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-facebook-square fa-3x" hovercolor="#0000ff"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "#" do %>
          <span class="fab fa-line fa-3x" hovercolor="#009900"></span>
        <% end %>
      </li>
      <li class="button">
        <%= link_to "https://www.instagram.com/ki.mi630" do %>
          <span class="fab fa-instagram fa-3x" hovercolor="#ffccff"></span>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<div class="swiper-container">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide slide1"></div>
      <div class="swiper-slide slide2"></div>
      <div class="swiper-slide slide3"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<div class="footer">
  <div class="category">
    <h1>カテゴリー</h1>
    <div class="category_list">
      <div class="base">
        <p>基礎化粧品</p>
        <ul>
          <li>固形石鹸</li>
          <li>洗顔フォーム</li>
          <li>洗顔パウダー</li>
          <li>クレンジングオイル</li>
          <li>クレンジングジェル</li>
          <li>クレンジングミルク</li>
          <li>化粧水</li>
          <li>美容液</li>
          <li>乳液</li>
          <li>クリーム</li>
          <li>パック</li>
          <li>マッサージ</li>
          <li>ゴマージュ</li>
          <li>ビーリング</li>
          <li>アイケア</li>
          <li>リップケア(リップクリーム等)</li>
        </ul>
      </div>
      <div class="sun_care">
        <p>サンケア</p>
        <ul>
          <li>日焼け止め(UV)化粧水</li>
          <li>日焼け用化粧水</li>
        </ul>
      </div>
      <div class="base_make">
        <p>ベースメイク</p>
        <ul>
          <li>パウダーファンデーション</li>
          <li>リキッドファンデーション</li>
          <li>クリームファンデーション</li>
          <li>スティク型ファンデーション</li>
          <li>ルースパウダー</li>
          <li>プレストパウダー</li>
          <li>化粧下地</li>
          <li>コンシーラー</li>
        </ul>
      </div>
      <div class="makeup">
        <p>メイクアップ</p>
        <ul>
          <li>ペンシルアイブロウ</li>
          <li>パウダーアイブロウ</li>
          <li>ペンシルアイライナー</li>
          <li>リキッドアイライナー</li>
          <li>マスカラ</li>
          <li>マスカラ下地・まつ毛美容液</li>
          <li>アイシャドウ</li>
          <li>口紅</li>
          <li>リップグロス</li>
          <li>リップライナー</li>
          <li>チーク</li>
          <li>ネイルカラー</li>
          <li>ネイルケア</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="company">
    <p>お問い合わせ先</p>
    <p>phone</p>
    <p>email</p>
  </div>
</div>


