* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  background-image: image-url('manicure-870857_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
}

.header {
  position: fixed; 
  top: 0;
  left: 0;
  background: linear-gradient(-80deg,rgba(0, 0, 0, 0),rgba(274,208,182,0.8));
  width: 700px;
  z-index: 10;
}

.title {
  display: flex;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";;
  margin-left: 20px;
}

.title1 {
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #CA4684;
}

.title2 {
  padding-top: 20px;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 0;
  color: white;
}

.sub-title {
  display: flex;
  color: #CA4684;
  margin-left: 20px;
}

.Japanese-title {
  font-size: 28px;
  margin-top: 0;
  margin-right: 20px;
  font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro";
}

.english-title {
  font-family: 'Homemade Apple', cursive;
  font-size: 25px;
  letter-spacing: 2px;
  margin-top: 0;
}

.link {
  position: fixed;
  top: 250px;
}

.button {
  margin-bottom: 20px;
}

.fa-twitter {
  color: #1DA1F2;
}

.fa-facebook-square {
  color: #1877f2;
}

.fa-line {
  color: #00B900;
}

.fa-instagram {
  color:#fff;
  background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
  border-radius:20%;
}

.swiper {
  width: 500px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.swiper-slide.slide1 {
  background-image: image-url('cream-194116__480.webp');
  background-size: cover;
}

.swiper-slide.slide2 {
  background-image: image-url('make-up-1180036__480.jpg');
  background-size: cover;
}

.swiper-slide.slide3 {
  background-image: image-url('manicure-870857_1280.jpg');
  background-size: cover;
}

.footer {
  background-color: #f0ddd0;
  margin-top: 40px;
}

.category h1 {
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

.category_list {
  display: flex;
  justify-content: space-around;
}

.category_list ul {
  padding-left: 0;
}

.category_list p {
  font-weight: bolder;
}

.base {
  border-left: 1px solid black;
  margin-left: 70px;
  padding-left: 20px;
}

.sun_care {
  border-left: 1px solid black;
  padding-left: 20px;
}

.base_make {
  border-left: 1px solid black;
  padding-left: 20px;
}

.makeup {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 20px;
  padding-right: 70px;
}

.company {
  border-top: 1px solid black;
  margin-top: 20px;
  margin-left: 20px;
}

// @media (max-width: 450px) {
//   .header {
//     width: 100%;
//     position: static;
//   }

//   .title1 {
//     font-size: 10px;
//   }

//   .title2 {
//     font-size: 10px;
//   }

//   .Japanese-title {
//     font-size: 20px;
//   }

//   .english-title {
//     font-size: 20px;
//   }

//   .container {
//     height: 200px;
//   }

//   .swiper {
//     width: 300px;
//     height: 170px;
//   }
// }
